:root{
    --blue-200: hsl(204, 100%, 26%);
    --blue-300: hsl(204, 100%, 36%);
    --blue-400: hsl(204, 100%, 46%);
    --blue-500: hsl(204, 100%, 56%);
    --blue-600: hsl(204, 100%, 66%);

    --purple-200: hsl(272, 99%, 24%);
    --purple-300: hsl(272, 99%, 34%);
    --purple-400: hsl(272, 99%, 44%);
    --purple-500: hsl(272, 99%, 54%);
    --purple-600: hsl(272, 99%, 64%);

    --red-200: hsl(349, 97%, 22%);
    --red-300: hsl(349, 97%, 32%);
    --red-400: hsl(349, 97%, 42%);
    --red-500: hsl(349, 97%, 52%);
    --red-600: hsl(349, 97%, 62%);

    --green-200: hsl(121, 51%, 29%);
    --green-300: hsl(121, 51%, 39%);
    --green-400: hsl(121, 51%, 49%);
    --green-500: hsl(121, 51%, 59%);
    --green-600: hsl(121, 51%, 69%);

    --yellow-200: hsl(38, 89%, 29%);
    --yellow-300: hsl(38, 89%, 39%);
    --yellow-400: hsl(38, 89%, 49%);
    --yellow-500: hsl(38, 89%, 59%);
    --yellow-600: hsl(38, 89%, 69%);


    --neutral-10: hsl(222, 24%, 8%);
    --neutral-20: hsl(220, 23%, 10%);
    --neutral-30: hsl(218, 27%, 14%);
    --neutral-40: hsl(216, 30%, 16%);
    --neutral-50: hsl(216, 31%, 19%);
    --neutral-60: hsl(226, 18%, 76%);
    --neutral-70: hsl(227, 22%, 92%);
    --neutral-80: hsl(210, 12%, 97%);
    --neutral-90: hsl(240, 27%, 98%);
    --neutral-100: hsl(0, 0%, 100%);
}
