:root{
    --text-light: #f6f7f8;
    --text-dark: #080808;

    --font-family: 'nunito sans', sans-serif, serif, 'times new roman';

    --text-xs: 12px;
    --text-sm: 14px;
    --text-md: 16px;
    --text-lg: 20px;
    --text-xl: 24px;
    --text-2xl: 32px;

    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;

}
